header {
  height: 40%;
  width: 100%;
  padding: 2%;
  justify-content: center;
  text-align: center;
  color: #f2e9e4;
  background-color: #292f33;
  border-bottom: thick solid #ffa404;
}

header h1 {
  font-family: "Poppins", sans-serif;
  word-spacing: 0.5%;
  text-transform: uppercase;
  font-weight: 400;
  color: #f2e9e4;
}
fieldset {
  padding: 2%;
}
header h1:nth-child(2) {
  margin-top: 1%;
}
