* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}
#b2 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 2%;
}
#columns12 {
  height: 100%;
  widows: 100%;
  display: flex;
  flex-direction: column;
}
h4 a {
  font-size: 130%;
  text-decoration: none;
  color: #292f33;
  letter-spacing: 1.5px;
  font-family: "Oswald ", sans-serif;
  text-transform: uppercase;
  letter-spacing: -0.5px;
}
h4 a:hover {
  text-decoration: underline;
  color: #292f33;
}
#c12 {
  width: auto;
  display: flex;
  margin-top: 2%;
}
#list {
  list-style-type: none;
  font-size: 120%;
  letter-spacing: 1.5px;
  margin: 1.5%;
  white-space: nowrap;
}
#list li a {
  list-style-type: none;
  text-decoration: none;
  color: #292f33;
  font-family: "Noto Sans", sans-serif;
}
#list li a:hover {
  text-decoration: underline;
}
